<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="utf-8">

    <title><%- course.title %></title>

    <!-- https://highlightjs.org/ -->
    <!-- https://github.com/isagalaev/highlight.js -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
    <!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css"> -->

    <!-- https://github.com/isagalaev/highlight.js/tree/master/src/styles -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/vs.min.css">

    <link rel="stylesheet" href="css/template.css">
  <script>
      hljs.initHighlightingOnLoad();
  </script>
</head>
<body>
<div class="wrapper">
    <header>
        <nav class="global-nav"><a href="http://www.thomas-gros.com">thomas-gros.com</a><a href="http://www.thomas-gros.com/trainings">Trainings</a></nav>
        <nav class="course-nav"><a href="<%- TOC.slug %>.html"><%- course.title %></a></nav>
    </header>
    <% if(previous) { %>
    <a href="<%- previous.slug %>.html">Précédent</a>
    <% } %>
    <a href="<%- TOC.slug %>.html">TOC</a>
    <% if(next) { %>
    <a href="<%- next.slug %>.html">Suivant</a>
    <% } %>
    <section class="chapter">
        <h1><%- chapter.title %></h1>
        <%- chapter.chapterHTML %>
    </section>
    <% if(previous) { %>
    <a href="<%- previous.slug %>.html">Précédent</a>
    <% } %>
    <a href="<%- TOC.slug %>.html">TOC</a>
    <% if(next) { %>
    <a href="<%- next.slug %>.html">Suivant</a>
    <% } %>

    <% if(chapter.resources) { %>
    <section class="resources">
        <h1>Resources</h1>
        <%
        const resourcesTitles = Object.keys(chapter.resources).sort(function(a, b) {
            if(a.firstname < b.firstname) return -1;
            if(a.firstname > b.firstname) return 1;
            return 0;
        });
        %>


        <%
            for(t of resourcesTitles) {
        %>
        <h2><%- t %></h2>
        <ul>
            <%
            for(r of chapter.resources[t]) {
            %>
            <li><a href="<%- r.url %>"><%- r.text %></a></li>
            <%
            }
            %>
        </ul>
        <%
            }
        %>
    </section>
    <% } %>
    <footer>
        <p>Copyright © Thomas Gros. <a href="http://www.thomas-gros.com">Contact me</a></p>
        <p>Dernière mise à jour du cours: <%- lastCourseUpdate %></p>
    </footer>
</div>
</body>
</html>
