<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="utf-8">

    <title><%- course.title %></title>

    <!-- https://highlightjs.org/ -->
    <!-- https://github.com/isagalaev/highlight.js -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
    <!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css"> -->

    <!-- https://github.com/isagalaev/highlight.js/tree/master/src/styles -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/vs.min.css">

    <link rel="stylesheet" href="css/template.css">
  <script>
      hljs.initHighlightingOnLoad();
  </script>
</head>
<body>
<div class="wrapper">
    <header>
        <nav class="global-nav"><a href="http://www.thomas-gros.com">thomas-gros.com</a><a href="http://www.thomas-gros.com/trainings">Trainings</a></nav>
        <nav class="course-nav course-nav--TOC"><p class="course-nav__title"><%- course.title %></p></nav>
    </header>
    <section class="chapter">
        <%- chapter.chapterHTML %>
    </section>

    <footer>
        <p>Copyright © Thomas Gros. <a href="http://www.thomas-gros.com">Contact me</a></p>
        <p>Dernière mise à jour du cours: <%- lastCourseUpdate %></p>
    </footer>
</div>
</body>
</html>
